:root {
    --dark:#1E1E1E;
    --gray:#707070;
    --light:#FFF9F1;
    --primary:#F9C06A;
    --secondary:#442808;
    --coffee:#603809;
}

$fontFamily: "Sofia Sans Condensed", sans-serif;
$fontSize: 22px;